.mat-dialog-content {
  padding: 24px;
  font-family: "proxima-nova","Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #666;
  text-align: center;
}
